* {
    margin: 0;
    padding: 0;
}

/* toggle button color */

.navbar-toggler {
    background-color: rgba(240, 233, 233, 0.836);
    border-color: rgba(255, 255, 255, 0.966);
}

/* Custom styles for the toggler button icon */
.navbar-toggler-icon {
    background-color: rgba(255, 255, 255, 0.678);
    border-radius: 3px;
}





.halfcircle {
    position: absolute;
    width: 11vw;
    height: 8vw;
    box-shadow: 0px 4px 2px 0px rgb(160, 157, 157);
    background: linear-gradient(to top, rgb(250, 0, 0) 90%, transparent 50%);
    border-top-right-radius: 65px;
    border-bottom-left-radius: 40px;
}

.jumbotron {
    margin-top: 7vw;
    background-color: orange;
    color: black;
    padding: 3vw;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.jumbotron p {
    padding: 5vw;
}

.jumbotron h6 span {
    color: rgb(250, 0, 0);
}

.jumbotron .btns {
    color: white;
    background-color: rgb(250, 0, 0);
    text-decoration: none;
    padding: 1.6vh 2.3vw;
}



.animation-container {
    text-align: center;
}

.animate-heading {
    overflow: hidden;
    border-right: 0.15em solid orange;
    font-weight: bold;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(30, end) infinite, blink-caret 0.75s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 60%;
    }
}

@keyframes blink-caret {

    from,
    to {
        border-color: transparent;
    }

    50% {
        border-color: orange;
    }
}


/* 
contact page design */
.maincontainer {
    width: 100%;
    background-color: #f5f7f8
}

.maincontainer .card {
    margin: 1vw;
    font-size: 1.3vw;
    border: none;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}

.maincontainer .card:hover {
    transform: scale(1.1);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.maincontainer .card a {
    text-decoration: none;
}

.headcontainer {
    margin-top: 10vh;
    position: relative;
    top: 15vh;
    text-align: center;
}

/* Style the heading and add the horizontal line */
.heading {
    position: relative;
    font-size: 3vw;
    padding-bottom: 25px;
    /* Space for the line */
}

.heading::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    /* Position the line at the center */
    transform: translateX(-50%);
    /* Center the line horizontally */
    width: 5vw;
    /* Adjust the width of the line */
    height: 2px;
    /* Adjust the height of the line */
    background-color: #333;
    /* Adjust the line color */
}


.maincontainer .flex-box {
    background: white;
    justify-content: center;
    align-items: center;
    padding: 1vw;
    height: 60vh;
}

.maincontainer .flexdiv {
    text-align: center;
    padding: 4vw;
    font-size: 1.3vw;
}

.maincontainer .flex-box input {
    width: 37vw;
    padding: 1.5vh;
    margin: 1.5vh;
    background-color: #f5f7f8;
}

.maincontainer .flex-box textarea {
    width: 37vw;
    padding: 1.5vh;
    margin: 1.5vh;
    background-color: #f5f7f8;
}

.maincontainer .flex-box button {
    width: 14vw;
    padding: 1.5vh;
    margin: 1.1vh;
    border-radius: 0;
}



/* cart page design */
.cartmain {
    margin-top: 35vh;
}

.cartheading{
    margin-top: 55vh;
    font-size: 1vw;
    color: black;
}









/* Foooter section design */
.footersec {
    height: 70vh;
    padding: 6vh;
    background-color: rgb(39, 38, 38);
    color: white;
    text-align: center;
    align-items: center;
    font-size: 1.2vw;
}

.footersec .upfooter {
    height: 75%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    padding: 19vh 1vh;
}

.footersec .upfooter .about {
    width: 32%;
    text-align: center;
    padding-top: 4vh;
}

.footersec .upfooter .about p {
    text-align: justify;
    padding: 5% 10%;
}

.footersec .upfooter .qlinks {
    padding-bottom: 14vh;
    width: 32%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10%;
}

.footersec .upfooter .qlinks a {
    text-decoration: none;
    color: white;
}

.footersec .upfooter .qlinks a span {
    padding: 0.5vw 1vw;
    font-size: 1.3vw;
}

.footersec .upfooter .newsletter {
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footersec .upfooter .newsletter input {
    padding: 0.1vw;
    border-radius: 5%;
}

.footersec .upfooter .newsletter .btn4 {
    margin: 1vw;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.footersec .upfooter .newsletter .btn4:hover {
    background-color: white;
    color: black;
    transform: scale(1.1);
}

.footersec .upfooter .newsletter .social a {
    color: white;
    font-size: 35px;
    padding: 12px;

}

.footersec .upfooter .newsletter .social a:hover {
    color: blue;
}

.footersec .lowfooter {
    padding-top: 5.5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}





@media (max-width:800px) {
    .footersec {
        font-size: 3vh;
        display: inline-block;
        max-width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        padding: 1vw;
        margin: auto 0px;
    }

    .footersec .upfooter {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 1vw;
        text-align: center;
        padding: 5%;
        margin: 0;
    }

    .footersec .upfooter .about {
        width: 100%;
        margin: 2vh;
    }

    .footersec .upfooter h4 {
        font-size: 4vw;
    }

}