{% extends 'base.html' %}

{% block content %}

<div class="container-fluid cartmain">
    <div class="container-fluid cart-page table-responsive-sm">    

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Subtotal</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="cart-info">
                            <img src="" alt="image">
                        </div>
                        <p>Printed shirt</p>
                        <small>price</small>
                    </td>
                    <td><input type="number" value="1"></td>
                    <td>@$00.00</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



{% endblock %}