{% extends 'base.html' %}


{% block content %}
<div class="container-fluid maincontainer">

    <div class="container-fluid headcontainer">
        <h4>Have any queries?</h4>
        <h2 class="heading">We're here to help.​</h2>
    </div>


    <div class="container-fluid mt-4 pt-5 ">
        <div class="container-fluid d-flex mt-4 pt-5 mb-5 ml-0">

            <div class="row mb-4">
                <div class="col-md-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="card-title">Marketing</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#">12300045643</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="card-title">Sales</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#">4560003423</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="card-title">Returns</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#">yourreturns@gmail.com></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card text-center">
                        <div class="card-body">
                            <h4 class="card-title">Complaints</h4>
                            <p class="card-text">With supporting text below as a natural lead-in to additional content.
                            </p>
                            <a href="#">56908090834</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mb-4">
        <div class="row">
            <div class="col-md-6">
                <div class="flex-box flexdiv">
                    <p>Don't be a stranger!</p>
                    <h3>You tell us. We listen.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam quam soluta ex cum eligendi laudantium libero reiciendis deleniti quisquam, exercitationem iste nemo error iure a temporibus obcaecati ad quod. Officiis?</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="flex-box">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" placeholder="NAME">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="SUBJECT" placeholder="SUBJECT">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email"
                                aria-describedby="emailHelp" placeholder="EMAIL">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" id="message" rows="3" placeholder="MESSAGE"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col text-center p-4">
                <!-- Content for the full-width container -->
                <h2>SALE UP TO 70% OFF FOR ALL CLOTHES & FASHION ITEMS, ON ALL BRANDS.</h2>
                <a style="text-decoration: none;" href="/index">Go For Shopping</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}