{% extends 'base.html' %}


{% block content %}
<div class="container-fluid p-5">
    <div class="container-fluid d-flex py-5">
        <div class="col-md-4 m-5 p-5 d-none d-sm-block">
            <img src="/static/images/signup-image.jpg" class="img-fluid" alt="Responsive Image">
        </div>
        <div class="container">
            <div class="row justify-content-center my-5">
                <div class="col-lg-8 col-md-9 my-5">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="text-center">Sign Up</h3>
                        </div>
                        <div class="card-body">
                            <form action="/signup" method="post">
                                {% csrf_token %}
                                {% if error %}
                                <div class="alert alert-danger" role="alert">
                                    {{ error }}
                                </div>
                                {% endif %}


                                {% if msg %}
                                <div class="alert alert-success" role="alert">
                                    {{ msg }}
                                </div>
                                {% endif %}
                                <div class="form-group mt-2">
                                    <label for="cname">Name</label>
                                    <input type="text" class="form-control" id="cname" value="{{values.cname}}" name="cname">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="phone">Phone</label>
                                    <input required type="number" class="form-control" value="{{values.phone}}" id="phone" name="phone">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="cemail">Email</label>
                                    <input required type="email" class="form-control" id="cemail" value="{{values.cemail}}" name="cemail">
                                </div>
                                <div class="form-group mt-2">
                                    <label for="password">Password</label>
                                    <input required type="password" class="form-control" id="password" name="password" placeholder="********">
                                </div>
                               
                                <button type="submit" class="col-lg-5 btn btn-primary btn-block mt-3" value="signup">Create An Account</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>







    </div>

</div>






{% endblock %}